* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #f4f7fb;
}

/* custom scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: inherit;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9ebfd;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* custom scrollbar */

.chartEditor {
  height: calc(100vh - 48px);
  display: flex;
  justify-content: space-between;
}

.chartCenterPanel {
  flex-grow: 1;
}

main {
  padding-top: 1px;
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
